# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/
env/
pip-wheel-metadata/
.pytest_cache/
.cache/

# Project data and local artifacts
app/data/

# PDFs: keep tests/data PDFs, ignore others
*.pdf
!tests/data/*.pdf

# Secrets
.env
.env.*

# VS Code (keep our two config files if you want later)
.vscode/
!/.vscode/launch.json
!/.vscode/settings.json
